@common-color:#FFCE00;
@score-grey:#eee;
@grey-color:#C1C1C1;
@border-color:#F2F2F2;
@main-font-color: #5D677D;
@tab-active-color: #6698FF;

input,textarea{
    font-size: 28rpx;
    color: #000;
}
.flex-col(@x){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: @x;
}
.flex-row(@x){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: @x;
}
.flex(@row,@x,@y){
    display: flex;
    flex-direction: @row;
    align-items: @y;
    justify-content: @x;
}
.m-flex-end{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.m-flex-start{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.m-red{
    color: #D8000D;
}
.m-border-back{
    position: relative;
}
.m-border-back:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 50%;
    background-color: @common-color;
    bottom: 0;
    left: 0;
    z-index: -1;
    color: #000;
}

.m-icon-more{
    display: inline-block;
    width: 17rpx;
    height: 30rpx;
    margin-left: 10rpx;
}
.m-icon-down{
    display: inline-block;
    width: 30rpx;
    height: 17rpx;
    margin-left: 10rpx;
}
.m-common{
    color: @common-color;
}
